<div class="container">
    <h3 class="h3">Carrito de Compras</h3>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="product-grid6" *ngFor='let productos of productosCarrito'>
                <div class="product-image6">
                    <img [src]="'assets/'+productos.imagen" alt="" class="img-circle pull-left">
                    <h4 class="list-group-item-heading title">{{productos.nombre}}</h4>
                    <p class="list-group-item-text"><b>Unidades: </b>{{productos.cantidad}}</p>
                    <p class="list-group-item-text"><b>Subtotal: </b>${{productos.precio}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2>Total pedido: ${{Total()}}</h2>
                <div class="btn-group" role="group" aria-label="...">
                    <a [routerLink]="['/catalogo']" class="btn btn-default">Cancelar</a>
                    <button type="button" (click)="onPagar()" class="btn btn-default">Pagar</button>
                </div>
            </div>
        </div>

    </div>

</div>
<hr>