<div class="container">
    <h3 class="h3">Carrito de Compras</h3>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
                    <h3 class="title"><a href="#">Men's Shirt</a></h3>
                    <div class="price">Unidades</div>
                    <div class="h5">2</div>
                    <div class="price">Subtotal</div>
                    <div class="h5">30 Euros</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <h1 class="h1">Total</h1><hr>
                <h3 class="h3">33 Euros</h3>
            </div>
            <a class="btn btn-default btn-lg">Cancelar</a>
            <a class="btn btn-default btn-lg">Pagar</a>

        </div>

    </div>

</div>
<hr>