<div class="container">
  <div class="">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header menuitem">
          <a class="navbar-brand" href="#">La bodega</a>
        </div>
        <div>
          <ul class="nav navbar-nav" [ngStyle]="{float: 'right'}">
            <li><a [routerLink]="['/main']">Home</a></li>
            <li><a [routerLink]="['carrito']"><span class="fa fa-gift bigicon"></span>
                <span *ngIf="seleccionados.length >= 0">{{seleccionados.length}} -</span>
                Items in Carrito</a></li>
            <li><a [routerLink]="['']">Cerrar Sesion</a></li>
          </ul>
        </div>
        <div>
        </div>
      </div>
    </nav>
  </div>
</div>