<div class="container">
  <div class="row pic-row">
    <div class="col s6 center">
        <h3 class="h3">Vista previa</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s8 offset-s1">
        <div class="card">
          <div class="card-image">
            <img src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
          </div>
        </div>
      </div>
      <div class="col s2">
        <h3 class="title"><a href="#">Men's Shirt</a></h3>
        <div class="price">$11.00</div>
        <div class="price">30 unidades</div>
        <a class="btn btn-default btn-large" [routerLink]="['/main']"> Atras</a>
      </div>


    </div>
  </div>
  <br><br>
</div>