<div class="container">
  <div class="row pic-row">
    <div class="col s6 center">
      <h3 class="h3">Vista previa</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-sm-6">
        <img [src]="'assets/'+productoSeleccionado.imagen" alt="..." class="img-thumbnail">
        <a name="" id="" class="btn btn-default" [routerLink]="['/main']" role="button">Atrás</a>
      </div>
      <div class="col-sm-6">
        <h2>Precio: ${{productoSeleccionado.precio}}</h2>
        <h3>Unidades disponibles: {{productoSeleccionado.unidades}}</h3>
      </div>
    </div>
  </div>
  <br><br>
</div>